{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Expenses</h1>
  <p class="lead">Use this page to maintain expenses</p>
  <hr class="my-4">
  <p>To add an expense, click on the button and provide details.</p>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#expenseModal">
    Add Expense
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="expenseModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="expenseModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
{% endblock %}