{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Add Logs</h1>
  <p class="lead">Use this page to add logs for today: ({{ date }})</p>
  <hr class="my-4">
  <p>To add logs, click on Add and enter your details, the date is preselected as today.</p>
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addlogModal">
    Add Log
  </button>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Time</th>
          <th scope="col">Logs</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <th scope="row"><a href="">{{ loop.index }}</a></th>
          <td>{{ log.date_posted.strftime('%H:%M:%S')}}</td>
          <td>{{ log.content }}</td>
          <td>{{ log.remarks }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addlogModal" tabindex="-1" role="dialog" aria-labelledby="addlogModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addlogModalLabel">Add Logs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/todayslogs", method="POST">
          <div class="form-group">
            <label for="name">Date</label>
            <input type="date" class="form-control" id="date_posted" name="date_posted">
          </div>
          <div class="form-group">
            <label for="content">Logs</label>
            <textarea class="form-control" id="content" rows="3" name="content"></textarea>
            <small id="loghelp" class="form-text text-muted">Use this area to enter log not more than 500 characters</small>
          </div>
          <div class="form-group">
            <label for="remarks">Remarks</label>
            <input type="text" class="form-control" id="remarks" name="remarks">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Log</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}